/* RESET  */

/* FONT  */

*
{
    font-family:Arial, Helvetica, sans-serif;
}
/* GENERAL */

.main-left-side{
    overflow: auto;
    height: 100%;
}
.body-color{
    width: 100%;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #009688;
    z-index: -1;
}

.main-left-side > *:hover,
.active{
    background-color: rgb(232, 231, 231);
}

.container-md{
    height: calc(100vh - 100px);
    margin-top: 50px;
}

.row-container{
    height: 100%;
}

/* LEFT SIDE  */

   #left-header-1{
    background-color: #EAEAEA;
   } 


.left-header-img {
    height: 60px;
}
img{
    height: 100%;
    padding: 5px 0;
    border-radius: 50%;
}

.fa-icon > * {
    color: #B1B1B1;
    font-size: 1.5em;
    padding: 5px 10px;
}
#left-header-2{
    background-color: #8EDAFC;
}
#left-header-2 div i {
    color: #8EDAFC;
    padding:15px 12px;
    margin: 10px 0px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: white;
}

.header-text-1{
    font-weight: bold;
    font-size: 0.9em;
}
.header-text-2{
    color: #B1B1B1;
    font-size: 0.7em;
    text-decoration: underline;
}
/* 
NON ME LO PRENDEVA PIù
#left-header-2:last-child div div:first-child{
    font-weight: bold;
    font-size: 0.9em;
}

#left-header-2:last-child div div:last-child{
    color: #B1B1B1;
    font-size: 0.7em;
    text-decoration: underline;

} */

#left-header-3{
    margin: 10px 0px;
}
#left-header-3 div div span{
    color: #B1B1B1;
    padding: 10px;
}

/* LEFT SIDE MAIN  */
.left-main{
    margin: 20px;
    position: relative;
}

.left-main div:nth-child(2){
    position: relative;
}

.left-main div:nth-child(2)  div:first-child{
    font-size: 0.9em;

}
.left-main div:nth-child(2) div:nth-child(2){
    color: #B1B1B1;
    font-size: 0.7em;
}
#clock{
    position: absolute;
    top: 5px;
    right:5px;
    color: #B1B1B1;
    font-size: 0.7em;
}

/* RIGHT SIDE HEADER   */
 
#right-header-1{
    background-color: #EAEAEA;
}


#right-header-1 div:nth-child(2)  div:first-child{
    font-size: 0.9em;

}
#right-header-1 div:nth-child(2) div:nth-child(2){
    color: #B1B1B1;
    font-size: 0.7em;
}
/* MAIN RIGHT  */
.sent{
    display: flex;
   justify-content: end;
   position: relative;


}
.sent div{
    margin: 20px;
    padding: 20px;
    background-color: #009688;
    border-radius: 10px;
}
.sent span{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #B1B1B1;
    font-size: 0.7em;

}



.received{
    display: flex;
    position: relative;
}

.received div{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.received span{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #B1B1B1;
    font-size: 0.7em;

}
.my-container{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 60px);
    position: relative;
}
.my-container-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #B1B1B1;
    display: flex;
    justify-content: space-between;
    align-items:center;

    height: 50px;

}
/* DEGBUG */

.debug .container-md{
    background-color: antiquewhite;
}
.debug .left-side {
background-color: white;
height: 100%;
}
.debug .right-side{
background-color: white;
}

.debug{
    background-color: #DADBD4;
}